mixin form_fields(schema)
  -
    var schema = {
      "title":{  
       "required":true,
       "type":"String"
      },
      "coordinator":{  
         "required":true,
         "type":"String"
      },
      "location_name":{  
         "required":true,
         "type":"String"
      },
      "location_address":{  
         "required":true,
         "type":"String"
      },
      "student_or_parent":{  
         "enum":[  
            "Student",
            "Parent"
         ],
         "type":"String"
      },
      "baloon_color":{ 
         "type":"String"
      },
      "description":{  
         "required":true,
         "type":"String"
      },
      "end_time":{  
         "required":true,
         "type":"Date"
      },
      "start_time":{  
         "required":true,
         "type":"Date"
      }
    }
    //<div class="form-check">
    // <label class="form-check-label">
    //    <input type="radio" class="form-check-input" name="optionsType"id="eventStandard" value="Student" checked >
    //    Standalone
    //  </label>
    //<input type="text" class="form-control" id="eventLocation">
    // </div>
  - for (var field in schema)
    div(class='form-group')
      label.form-check-label(for=field)= allTitleCase(field.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, ' '))
      if schema[field].enum
            each option in schema[field].enum
              .form-check
                input#field.form-check-input(type='radio', name=field ,value=option)
                label.form-check-label= option

      else if field == 'baloon_color'
        #cp3.input-group.colorpicker-component
          input.form-control(type='text', value='#00AABB')
          span.input-group-addon
            i
        script.
          (function() {
          $('#cp3').colorpicker({
          color: "red",
          format: "hex"
          });
          })();
      else if field == 'description'
        textarea#field.form-control(rows='3')
      else if schema[field].type == 'String'
        input.form-control#field(type='text')
      else if schema[field].type == 'Date'
        .input-group.bootstrap-timepicker.timepicker
        input.form-control.input-small(type='text', id=field data-provide="timepicker", data-defaultTime='10:45 AM')

- function allTitleCase(inStr) { return inStr.replace(/\w\S*/g, function(tStr) { return tStr.charAt(0).toUpperCase() + tStr.substr(1).toLowerCase(); }); }

