mixin form_fields(schema)
  each value, field in schema
    - field_readable = field.replace('_', ' ');
    - 
      field_readable = field_readable.replace(/(\b\w)/g, function(match) {
        return match.toUpperCase();
      });

    if value.enum
      label(for=field)= field_readable
      each option in value.enum
        .radio
          label
            input(type='radio', name=field, value=option)
            = option
    else if field == 'description'
      .form-group
        label(for=field)= field_readable
        textarea.form-control(name=field, rows=3, id=field)
    else if field == 'balloon_color'
      .form-group
        label(for=field)= field_readable
        .input-group.colorpicker-component
          input.form-control(type='text', value='#3af')
          span.input-group-addon
            i
    else if value.type == 'String'
      .form-group
        label(for=field)= field_readable
        input.form-control(type='text', name=field, id=field)
    else if value.type == 'Date'
      .form-group
        label(for=field)= field_readable
        .input-group.bootstrap-timepicker.timepicker
        input.form-control(data-provide='timepicker')
